body{
  font-family:georgia;
  width: 100%;
  margin:0 auto;
}

nav{
  display: flex;
  flex-wrap:wrap;
  width:100%;
  justify-content: space-around;
  background-color: #7A1C1D;
  color:white;
  margin: 0 auto;
  padding:5px 0;
}

nav a:link, nav a:visited{
  color:white;
}

header{
  background-image: url("https://res.cloudinary.com/programandoconmei/image/upload/v1695692864/OJT2/heroBackground_vqssci.jpg");
  background-size:cover;
  background-position:center;
}

header, .image-gallery, .social-links {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  width:100%;
  margin:0 auto; 
}

.title-and-logo{
  text-align: center;
  width:100%;
  background-color: rgba(0,0,0,0.5);
}

h1{
  color: white;
}
.logo{
  margin-bottom:10px;
}

.logo img{
  height:100px;
  border:2px solid #7A1C1D;
  padding:10px 20px;
  background-color: rgba(255, 255, 248, 0.4);
  border-radius: 50%;
  overflow:visible;
}

section{
  padding:20px;
}

.about-us {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  background-color:#F9EAD5;
}

.about-us-img, .about-us-text{
  flex:1;
  min-width:300px;
}

.about-us-text{
  padding-right:10px;
}

.about-us-img img{
  max-width:100%;
}

.quarterly-menu{
  text-align:center;
  margin:0 auto;
}

.quarterly-menu h2{
  color:#214a25;
}

.quarterly-menu h3{
  font-family:cursive;
  letter-spacing:1px;
  color:#32a852;
  text-decoration:underline 2px;
}

.quarterly-menu h4{
  font-family:sans-serif;
}

.quarterly-menu p{
  font-family:cursive;
}
.menu-sections{
  display:flex;
  flex-wrap:wrap;
}
.wraps, .sides{
  flex:1;
  min-width:280px;
  border:10px ridge silver;
  text-align:center;
  padding:5px;
  margin: 5px;
}

.favorites{
  background-color: #7A1C1D;
  text-align:center;
  color:white;
}
.image-gallery img{
  width:100%;
}

.food-image{
  width:275px;
  margin:2px;
}

.location-and-hours{
  text-align:center;
  background-color:#F9EAD5;
}

.hours ul{
  list-style:none;
  padding:0;
}

.hours li span {
  display: inline-block;
  width:100px;
}

footer{
  text-align:center;
  width:100%;
}

.social-links img{
  width:30px;
  margin:0 10px 0 10px;
}
.social-links{
  padding-top:5px;
}

.scroll-fade{
  opacity:0;
}